hostname {{ hostname }}
!
no aaa new-model
!
username admin privilege 15 secret Cisco123!
!
vrf definition management
   description management vrf
!
vlan 199
   name MANAGEMENT
!
interface Vlan199
   description MANAGEMENT_VLAN
   ip address {{ management_address }} {{ subnet_mask }}
   no shutdown
!
interface Gig0/1
   description MANAGEMENT
   switchport mode access
   switchport access vlan 199
   no shutdown
!
no ip domain-lookup
ip domain-name lab.slu
!
ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 Vlan199
ip ssh version 2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
management api http-commands
   no shutdown
   !
!
ip ssh version 2
line vty 0 4
 logging synchronous
 transport input ssh
 login local
!
end
